* {
    margin: 0%;
    padding: 0%;
}


.main1 {
    width: 100%;
    height: 100vh;
    float: left;
    background-image: url(images/slider-bg.jpg);
    background-size: cover;
}

.img1 {
    width: 30%;
    padding-top: 25px;
    margin-left: 15px;
}

.img1 img {
    width: 120px;
}

.container1 {
    width: 80%;
    background-color: white;
    border-radius: 0 0 10px 10px;
    margin: auto;
    display: flex;
    position: fixed;
    margin-left: 10%;
}

.icon1 {
    padding-top: 25px;
    width: 10%;
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: #3498db;
}

.text1 {
    width: 70%;
    display: flex;
    margin-right: 10%;
}

.text1 .icon1:hover {
    background-color: aqua;

}


.xyz1 ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    color: #999;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.xyz1 li {
    font-size: 20px;
    height: 55px;
    width: 110px;
    padding-top: 25px;
    text-align: center;
}

.xyz1 li:hover {
    background-color: aqua;
}


.text12 h1 {
    text-align: center;
    padding-top: 20%;
    font-size: 70px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}


.text12 p {
    text-align: center;
    padding: 20px;
    font-size: 25px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}

.container2 {
    width: 80%;
    margin: auto;
}

.apple i {
    width: 28px;
    font-size: 28px;
    padding: 20px;
    border: 2px solid rgb(231, 62, 62);
    border-radius: 50%;
    text-align: center;
    background-color: rgb(233, 65, 65);
    color: white;
    margin-left: 60px;
}

.main2 {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 50px;

}

.main21 {
    width: 100%;
    margin: auto;
    height: 50vh;
    display: flex;
    justify-content: space-between;
}

.icon2 .text2 h2 {
    padding: 15px;
    color: #999;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.icon2 .text2 p {
    color: #999;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.color2 i {
    background-color: #2ecc71;
    border: 2px solid #2ecc71;
}

.color3 i {
    background-color: #3498db;
    border: 2px solid #3498db;
}

.color4 i {
    background-color: #8e44ad;
    border: 2px solid #8e44ad;
}

.color5 i {
    background-color: #1abc9c;
    border: 2px solid #1abc9c;
}

.color6 i {
    background-color: #2c3e50;
    border: 2px solid #2c3e50;
}


.main3 {
    width: 100%;
    height: 125vh;
    background-color: #99999999;
    text-align: center;
}

.container3 {
    width: 80%;
    margin: auto;
    height: 60vh;
    background-color: #f6f6f6;
}


.main3 .fou3 h1 {
    font-size: 58px;
    padding-top: 59px;
    color: #999;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main3 .fou3 p {
    font-size: 20px;
    padding: 75px;
    color: #999;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.img3 {
    width: 100%;
    margin: auto;
}

.img3 img {
    width: 83%;
    border: 10px solid white;
}

.img311 {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.img31 img {
    width: 83%;
    background: #fff;
    margin: 15px;
    padding-bottom: 20px;
}

.img31 {
    width: 25%;
    float: left;
}

.img31 h4 {
    position: relative;
    top: -42px;
    color: #777;
}

.main4 {
    width: 100%;
    float: left;
    background-color: #99999999;
    height: 160vh;

}

.container4 {
    width: 80%;
    margin: auto;
    background-color: #f6f6f6;
    height: 160vh;
}

.main4 .fou4 {
    color: #999;
    font-size: 25px;
    padding-top: 70px;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.fou4 p {
    margin-top: 40px
}

.main4 ul li {
    text-decoration: dotted;
    margin: 20px;
    list-style: none;
    font-size: 22px;
}

.fou41 ul {
    margin-top: 80px;
    border: 10px solid white;
    background-color: #fff;
    margin-left: 40px;
    width: 25%;
    text-align: center;
    color: #999999;
    float: left;
    margin-right: 20px;
}

.name4 h3 {
    color: #999999;
}

ul hr {
    border-top: dotted 2px gray;
    background-color: #f6f6f6;
}

.price4 h1 {
    color: #666;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}

.fou41 .btn4 button {
    font-size: 20px;
    padding: 10px 20px;
    margin: 30px;
    color: white;
    background-color: rgb(49, 173, 214);
    border: 2px solid rgb(49, 173, 214);
    border-radius: 5px;
}

.btn4 button:hover {
    background-color: blue;
    border: 2px solid blue;
}


.name41 h3 {
    color: #999999;
}

.price41 h1 {
    color: #666;
    font-size: 60px;
}

.fou41 #price41 {
    margin: 0;
    padding: 0;
    background-color: rgb(49, 173, 214);
    padding: 20px;
}

.fou411 ul li {
    color: #999;
}



.main5 {
    width: 100%;
    height: 100vh;
    float: left;
    background-color: #99999999;
}

.container5 {
    width: 80%;
    height: 100vh;
    background-color: white;
    margin: auto;
    text-align: center;
}

.font5 h1 {
    font-size: 50px;
    padding-top: 70px;
    color: #777;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.font5 p {
    font-size: 20px;
    padding: 30px;
    color: #777;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.img51 {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

.img5 img {
    width: 75%;
    border-radius: 50%;
    border: 5px solid #ddd;
}

.img5 h3 {
    padding: 10px;
    font-size: 25px;
    color: #777;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.img5 p {
    font-size: 15px;
    color: #777;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.main6 {
    width: 100%;
    float: left;
    height: 100vh;
    background-color: #99999999;
}

.container6 {
    width: 80%;
    height: 80vh;
    background-color: #222;
    margin: auto;
}

.xyz6 {
    width: 100%;
    float: left;
    padding: 20px;
}

.fount6 {
    width: 50%;
    float: left;
    color: white;
    font-size: 25px;
    padding-top: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.fount6 p {
    font-size: 15px;
    padding: 10px 0;
    color: #999;
}

.fount6 input {
    background-color: black;
    border: 0;
    width: 47%;
    font-size: 15px;
    padding: 10px 5px;
}

.fount6 textarea {
    width: 95%;
    font-size: 15px;
    background-color: black;
    border: 0;
    margin-top: 10px;
    padding: 10px;
}

.btn6 button {
    font-size: 20px;
    border-radius: 7px;
    background-color: #d9534f;
    color: white;
    margin: 10px 0;
    padding: 10px;
    border: 0;
}

.btn6 button:hover {
    background-color: red;
}

.fou6 {
    width: 50%;
    float: left;
    color: white;
    margin-top: 40px;
}

.fa h2 {
    font-size: 45px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 20px;
}

.bb {
    width: 100%;
    margin-left: 20px
}

.b1 {
    width: 50%;
    float: left;
    padding: 15px 0;
    color: #999;
    font-size: 17px;
}

.b2 {
    width: 50%;
    float: left;
    padding: 15px 0;
    color: #999;
    font-size: 17px;
}


.connect1 {
    width: 100%;
    float: left;
}

.font1c h1 {
    font-size: 35px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 37px;
}

.cdd {
    width: 50%;
    margin-left: 20px;
    display: flex;
    padding: 20px;
    
}

.textc h3 {
    font-size: 23px;
    padding-left: 20px;
    color: #999;
}
.mbbs{
    float: left;
}

.om{
    width: 50%;
    float: left;
}
.iconc i {
    font-size: 30px;
}
